@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/44ab98d85345ccfd4d2f22aadf36f2f8.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/24d2559f6c2b7314b6cfde0b33ebde89.ttf') format('truetype');
}
